<nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item"><a href="#">Inicio</a></li>
      <li class="nav-item"><a href="#">Cerrar sesión</a></li>
    </ul>
  </nav>

<div class="card">
    <div class="card-body">
      <h5 class="card-title">ID: {{ id }}</h5>
      <p class="card-text">Incidencia: {{ incidencia }}</p>
      <p class="card-text">Fecha y Hora: {{ fechaHora }}</p>
      <p class="card-text">Acción Realizada: {{ accion }}</p>
      <p class="card-text">Usuario: {{ usuario }}</p>
    </div>
  </div>
  