<div class="fondo">
  <h1 class="titulo">Crear Centro Medico</h1>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form #formulario="ngForm" (ngSubmit)="submitForm(formulario.value)">
              <!-- id -->
              <div class="form-group">
                <label for="id">ID</label>
                <input type="text" class="form-control" id="id" name="id" [(ngModel)]="id" required>
              </div>
              <!-- Nombre -->
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
              </div>
              <!-- Botón de enviar -->
              <button type="submit" class="btn btn-primary btn-block">Crear Centro Medico</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>