<nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item" (click)="navigateToHome()">Ver Historial Medico</li>
      <li class="nav-item" (click)="navigateToBitacoraHistorial()">Ver Bitacora Historial</li>
      <li class="nav-item" (click)="navigateToBitacoraTraspaso()">Ver Bitacora Traspaso</li>
      <li class="nav-item" (click)="navigateToCreateIncidencia()">Registrar incidencia</li>
      <li class="nav-item" (click)="navigateToCreateMedico()">Crear medico</li>
      <li class="nav-item" (click)="navigateToCreatePaciente()">Crear paciente</li>
      <li class="nav-item" (click)="navigateToUpdateMedico()">Actualizar medico</li>
      <li class="nav-item" (click)="navigateToUpdatePaciente()">Actualizar paciente</li>
      <li class="nav-item" (click)="navigateToInventarioMedicamento()">Ver Inventario Medicamentos</li>
      <li class="nav-item" (click)="navigateToInventarioMateriales()">Ver Inventario Materiales</li>
      <li class="nav-item" (click)="navigateToInsertInventarioMedicamento()">Registrar en Inventario Medicamentos</li>
      <li class="nav-item" (click)="navigateToInsertInventarioMateriales()">Registrar en Inventario Materiales</li>
      <li class="nav-item" (click)="navigateToLogin()">Cerrar sesión</li>
    </ul>
</nav>