<nav class="navbar">
    <ul class="nav-list">
     
        <li class="nav-item" (click)="navigateToCreateIncidencia()">Registrar incidencia</li>
        <li class="nav-item" (click)="navigateToHome()">Ver Historial Medico</li>

      <li class="nav-item-group">
        <label for="actualizacion">Actualización</label>
        <select id="actualizacion" (change)="onActualizacionSelect($event)">
          <option value="">Seleccionar opción</option>
          <option value="actualizarMedico">Actualizar medico</option>
          <option value="actualizarPaciente">Actualizar paciente</option>
        </select>
      </li>
  
      <li class="nav-item-group">
        <label for="bitacoras">Bitácoras</label>
        <select id="bitacoras" (change)="onBitacorasSelect($event)">
          <option value="">Seleccionar opción</option>
          <option value="verBitacoraHistorial">Ver Bitacora Historial</option>
          <option value="verBitacoraTraspaso">Ver Bitacora Traspaso</option>
        </select>
      </li>
  
      <li class="nav-item-group">
        <label for="creacion">Creación</label>
        <select id="creacion" (change)="onCreacionSelect($event)">
          <option value="">Seleccionar opción</option>
          <option value="crearMedico">Crear medico</option>
          <option value="crearPaciente">Crear paciente</option>
        </select>
      </li>
  
      <li class="nav-item-group">
        <label for="inventario">Inventario</label>
        <select id="inventario" (change)="onInventarioSelect($event)">
          <option value="">Seleccionar opción</option>
          <option value="verInventarioMedicamento">Ver Inventario Medicamentos</option>
          <option value="verInventarioMateriales">Ver Inventario Materiales</option>
          <option value="registrarInventarioMedicamento">Registrar en Inventario Medicamentos</option>
          <option value="registrarInventarioMateriales">Registrar en Inventario Materiales</option>
        </select>
      </li>
  
      <li class="nav-item" (click)="navigateToLogin()">Cerrar sesión</li>
    </ul>
  </nav>
  