<div class="fondo">
  <h1 class="titulo">Registro Medico</h1>
  <div class="container">
    <div class="card">
      <form #formulario="ngForm" (ngSubmit)="submitForm(formulario.value)">
        <label for="cui">CUI:</label>
        <input type="text" id="cui" name="cui" class="form-control" [(ngModel)]="medico.cui" required>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" class="form-control" [(ngModel)]="medico.nombre" required>
        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="apellidos" class="form-control" [(ngModel)]="medico.apellidos" required>
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" class="form-control" [(ngModel)]="medico.direccion" required>
        <label for="departamento">Departamentos:</label>
          <div class="form-group">
            <select class="form-control" id="departamento" name="departamento" [(ngModel)]="medico.departamento" required (change)="getMunicipios($event)">
              <option *ngFor="let departamento of departamentos" [value]="departamento.id_departamento">{{departamento.nombre}}</option>
            </select>
          </div>
          <label for="municipio">Municipios:</label>
          <div class="form-group">
              <select class="form-control" id="municipio" name="municipio" [(ngModel)]="medico.municipio" required>
                <option *ngFor="let municipio of municipios" [value]="municipio.id_municipio">{{municipio.nombre}}</option>
              </select>
            </div>
        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono" class="form-control" [(ngModel)]="medico.telefono" required>
        <label for="centro_medico">Centro Médico:</label>
        <div class="form-group">
            <select class="form-control" id="centroMedico" name="centroMedico" [(ngModel)]="medico.centroMedico" required>
              <option *ngFor="let centro of centrosMedicos" [value]="centro.id_centro_medico">{{centro.nombre}}</option>
            </select>
          </div>
        <label for="no_colegiado">No. Colegiado:</label>
        <input type="text" id="no_colegiado" name="no_colegiado" class="form-control" [(ngModel)]="medico.no_colegiado" required>
        <label for="especialidad">Especialidad:</label>
        <div class="form-group">
            <select class="form-control" id="especialidad" name="especialidad" [(ngModel)]="medico.especialidad" required>
              <option *ngFor="let especialidad of especialidades" [value]="especialidad.id_especialidad">{{especialidad.nombre}}</option>
            </select>
          </div>
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario" class="form-control" [(ngModel)]="medico.usuario">
        <label for="password">Clave:</label>
        <input type="password" id="clave" name="password" class="form-control" [(ngModel)]="medico.clave">
        <input type="submit" value="Registrarse" class="btn-primary">
      </form>
    </div>
  </div>
</div>  
