<app-navbar></app-navbar>
<div class="container" *ngIf="!validacion_usuario">
    <h1>Reporte de Pacientes con más asistencias</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="card-deck">
          <div class="card" *ngFor="let paciente of pacientes">
            <div class="card-body">
              <h5 class="card-title">Nombre del paciente: {{ paciente.nombre_paciente }}</h5>
              <p class="card-text">Cantidad: {{ paciente.cantidad }}</p>
              <p class="card-text">IMC reciente: {{ paciente.imc_reciente }}</p>
              <p class="card-text">Peso reciente: {{ paciente.peso_reciente }}</p>
              <p class="card-text">Altura reciente: {{ paciente.altura_reciente }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <h1 class="text-center mb-4" style="margin-top: 80px;" *ngIf="validacion_usuario">Generar Reporte</h1>

<div class="container" *ngIf="validacion_usuario">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="input-group">
        <label for="centroMedico">Centro Médico:</label>
        <div class="form-group">
            <select class="form-control" id="centroMedico" name="centroMedico" [(ngModel)]="centroMedico" required>
              <option *ngFor="let centro of centrosMedicos" [value]="centro.id_centro_medico">{{centro.nombre}}</option>
            </select>
          </div>
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="getReporte()">Buscar</button>
        </div>
      </div>
    </div>
  </div>
</div>