<nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item"><a href="#">Inicio</a></li>
      <li class="nav-item"><a href="#">Cerrar sesión</a></li>
    </ul>
  </nav>
  

  <div style="display: flex; justify-content: center; align-items: center; height: 80vh;">
    <div class="card">
      <img src="../../../assets/img/historial.jpeg" alt="Imagen 1" class="card-image">
      <div class="card-content">
        <h3 class="card-title">Buscar Historial Medico (Paciente)</h3>
        <p class="card-description">Permite a los médicos, personal clínico o administrativo buscar y acceder al historial médico de un paciente en particular. Información médica previa sobre un paciente, como diagnósticos anteriores, tratamientos, etc.</p>
        <a (click)="historialMedico()" class="card-button">Ir</a>
      </div>
    </div>
  </div>
  
  
  