<div class="cards-container">
    <div class="card">
      <img src="assets/option1.jpg" alt="Opción 1" class="card-image">
      <div class="card-content">
        <h3 class="card-title">Consulta de pacientes</h3>
        <p class="card-description">Acceda a la información de sus pacientes, revise su historial médico y realice consultas.</p>
      </div>
      <a href="#" class="card-link">Más información</a>
    </div>
  
    <div class="card">
      <img src="assets/option2.jpg" alt="Opción 2" class="card-image">
      <div class="card-content">
        <h3 class="card-title">Programación de citas</h3>
        <p class="card-description">Administre las citas de sus pacientes, programe nuevas citas y realice seguimiento de las citas programadas.</p>
      </div>
      <a href="#" class="card-link">Más información</a>
    </div>
  
    <div class="card">
      <img src="assets/option3.jpg" alt="Opción 3" class="card-image">
      <div class="card-content">
        <h3 class="card-title">Gestión de medicamentos</h3>
        <p class="card-description">Administre el inventario de medicamentos, realice pedidos y controle el stock de medicamentos en su consulta.</p>
      </div>
      <a href="#" class="card-link">Más información</a>
    </div>
  </div>
  