<nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item"><a href="#">Inicio</a></li>
      <li class="nav-item"><a href="#">Cerrar sesión</a></li>
    </ul>
  </nav>
  

  <div style="display: flex; justify-content: center; align-items: center; height: 80vh;" class="fondo">
    <div class="card">
      <img src="https://static.wixstatic.com/media/7869d1_8e6fd258fbd14449b44806f40dfca329~mv2.jpg/v1/fill/w_980,h_572,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/7869d1_8e6fd258fbd14449b44806f40dfca329~mv2.jpg" alt="Imagen 1" class="card-image">
      <div class="card-content">
        <h3 class="card-title">Buscar Historial Medico</h3>
        <p class="card-description">Permite a los médicos, personal clínico o administrativo buscar y acceder al historial médico de un paciente en particular. Información médica previa sobre un paciente, como diagnósticos anteriores, tratamientos, etc.</p>
        <a href="#" class="card-button">Ir</a>
      </div>
    </div>
  </div>
  
  
  